/*--------------------
General CSS
--------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  margin-bottom: 200px;
  color: white;
  background-color: #312e2b;
  font-family: 'Open Sans', sans-serif;
}

#Survey, #Rules, #analysis {
  margin-top: 100px;
  text-align: center;
  line-height: 175%;
}

h1 {
  font-size: 22px;
  margin-bottom: 10px;
  margin-top: 45px;
}
h2 {
  font-size: 32px;
  margin-top: 10vh;
}

p { 
  font-size: 18px;
  margin: 20px;
}

article {
  text-align: left;
  width: 40%;
  margin: auto;
}

/*--------------------
Tabs CSS
--------------------*/
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: white;
}
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}
.tab button:hover {
  background-color: #ddd;
}
.tab button.active {
  background-color: #ccc;
}
.tabcontent {
  display: none;
  border-top: none;
}
.tabcontent {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}
/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

/*--------------------
Contest Entry Form CSS
--------------------*/
.fauxLink {
  color: cyan;
}
.fauxLink:hover {
  text-decoration: underline;
  cursor: pointer;
}

form {
  background-color: #fff;
  width: 90%;
  margin: 50px auto;
  padding: 30px 20px;
  box-shadow: 2px 5px 10px rgba(255, 255, 255, 0.25);
  color: black;
}
.form-control {
  text-align: left;
  margin-bottom: 25px;
}
.form-control label {
  display: block;
  margin-bottom: 10px;
}

.form-control input,
.form-control select,
.form-control textarea {
  border: 1px solid #777;
  border-radius: 2px;
  font-family: inherit;
  padding: 10px;
  display: block;
  width: 95%;
}
.form-control input[type="radio"],
.form-control input[type="checkbox"] {
  display: inline-block;
  width: auto;
}

.sortable { 
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
  width: 30%; 
  display: inline-block;
}
.sortable li {
  margin: 5px; 
  padding: 8px; 
  font-size: 16px; 
  background: whitesmoke;
  color: black;
  border: black 1px solid;
}
.sortable li:hover {
  cursor: move;
}
.sortableGuide { 
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
  display: inline-block;
}
.sortableGuide li {
  margin: 5px; 
  padding: 8px; 
  font-size: 16px; 
  background: none;
  color: white;
  text-align: right;
  border: 1px transparent solid;
}

/*--------------------
Contest Rules CSS
--------------------*/
sup {
  color: cyan;
  float: right;
}

.example_row {
  display: flex;
  width: 75%;
  margin: auto;
  margin-top: 30px;
}
.example_column {
  flex: 10%;
  padding: 5px;
}
.example_table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}
.example_ th, td {
  text-align: left;
  padding: 16px;
}
.arrow_container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.arrow_container span {
  text-align: center;
  font-size: 20px;
}

/*--------------------
Leaderboard CSS
--------------------*/
.leaderboard {
  position: absolute;
  top: 50%;
  left: 25%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-75%, -50%);
  width: 285px;
  height: 408px;
  background: linear-gradient(to bottom, #3a404d, #181c26);
  border-radius: 10px;
  box-shadow: 0 7px 30px rgba(62, 9, 11, 0.3);
}

.leaderboard ol {
  counter-reset: leaderboard;
}
.leaderboard ol li {
  position: relative;
  z-index: 1;
  font-size: 14px;
  counter-increment: leaderboard;
  padding: 18px 10px 18px 50px;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
          transform: translateZ(0) scale(1, 1);
  list-style: none;
}
.leaderboard ol li::before {
  content: counter(leaderboard);
  position: absolute;
  z-index: 2;
  top: 15px;
  left: 15px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  color: #01019c;
  background: #fff;
  border-radius: 20px;
  text-align: center;
}
.leaderboard ol li mark {
  position: absolute;
  font-size: 18px;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 18px 10px 18px 50px;
  margin: 0;
  background: none;
  color: #fff;
}
.leaderboard ol li mark.special {
  position: absolute;
  font-size: 17px;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 18px 10px 18px 50px;
  margin: 0;
  background: none;
  color: #fff;
  font-style: italic;
}

.leaderboard ol li a {
  position: absolute;
  font-size: 18px;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 18px 10px 18px 50px;
  margin: 0;
  background: none;
  color: #fff;
  text-decoration: none;
}

.leaderboard ol li small {
  position: relative;
  z-index: 2;
  display: block;
  text-align: right;
}
.leaderboard ol li::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #181c26;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.08);
  transition: all .3s ease-in-out;
  opacity: 0;
}


.leaderboard ol li {
  background: #4da6ff;
  cursor: default;
}

.leaderboard ol li:hover {
  z-index: 1;
  overflow: visible;
}

.leaderboard ol li:hover::after {
  opacity: 1;
  -webkit-transform: scaleX(1.06) scaleY(1.03);
          transform: scaleX(1.06) scaleY(1.03);
}
.leaderboard ol li:hover mark::before, .leaderboard ol li:hover mark::after {
  opacity: 1;
  transition: all .35s ease-in-out;
}

mark.header{
  background-color: #3a404d;
}

/* Predctions Box */
.predictions {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 285px;
  background: linear-gradient(to bottom, #3a404d, #181c26);
  border-radius: 10px;
  box-shadow: 0 7px 30px rgba(62, 9, 11, 0.3);
  visibility: hidden;
}
.predictions p {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
}
th, td {
  padding: 5px;
  text-align: center;
}

/* contest info box */
.contestInfo {
  position: fixed;
  top: 50%;
  left: 75%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-25%, -50%);
  width: 285px;
  background: linear-gradient(to bottom, #3a404d, #181c26);
  border-radius: 10px;
  box-shadow: 0 7px 30px rgba(62, 9, 11, 0.3);
  overflow: auto;
  text-align: center;
}
.contestInfo img {
  padding: 10px;
}

/* ::-webkit-scrollbar {
  width: 13px;
}
.contestInfo::-webkit-scrollbar {
  width: 11px;
}
::-webkit-scrollbar-track {
  background: #181c26;
}
::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 10px;
  border: 2px solid #8181df;
} */

/*--------------------
Analysis CSS
--------------------*/

.axis { font: 16px sans-serif; }

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
  stroke-width: 2px;
}

div.tooltip {	
  position: absolute;			
  text-align: center;			
  padding: 2px;				
  font: 16px sans-serif;		
  background: white;	
  border: solid;
  border: 2px solid black;		
  border-radius: 5px;			
  pointer-events: none;		
  color: black;	
}

/*--------------------
Mobile
--------------------*/

@media screen and (max-width: 600px) {
  .leaderboard {
    position: absolute;
    /* top: 1000px; */
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    left: 5%;
    margin-top: 70%;
    -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  }

  .analysis {
    margin-top: 5%;
    position: static;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  }

  .predictions {
    visibility: hidden;
    z-index: -1;
  }
}